.body {
	font-family: Roboto, sans-serif;
	background: linear-gradient(0,#82a0bb,#cfdde8);
	margin: 0;
	padding: 0;
	padding-top: 80px;
	height: 100vh;
	box-sizing: border-box;
}

.block {
	width: 380px;
	margin: 0 auto;
	background-color: #fff;
}

.block__header {
	background: #6a96d8;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block__title {
	font-size: 14px;
	margin: 0;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-left: 20px;
}

.block__title:before {
	content: "";
	display: block;
	position: absolute;
	top: 35%;
	left: 0;
	border: 3px solid #fff;
	border-radius: 100%;
}

.block__close {
	background: url('img/close.svg') no-repeat;
	background-position: center;
	opacity: .7;
	width: 20px;
	height: 20px;
	display: block;
	transition: opacity .3s ease;
}

.block__close:hover {
	opacity: 1;
}

.block__when {
	color: #f0ebe7;
	text-align: center;
	padding: 20px;
	position: relative;
	background: #fff;
}

.block__when:before,.block__when:after {
	content: "";
	display: block;
	width: 130px;
	background: #f0ebe7;
	height: 1px;
	position: absolute;
	top: 50%;
}
.block__when:after {
	right: 20px;
}
.block__main {
	padding: 20px;
	padding-top: 0;
}

.msg {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

.msg_from {
	align-items: flex-start;
}

.msg_to {
	align-items: flex-end;
}

.msg__time {
	font-size: 12px;
	font-weight: 400;
	color: #f0ebe7;
	margin: 0;
	margin-bottom: 5px;
}

.msg__text {
	font-size: 14px;
	color: #000;
	width: 190px;
	padding: 10px;
	margin: 0;
}

.msg__text_from {
	background: #82a0bb;
}

.msg__text_to {
	background: #cfdde8;
}

.msg__text_block {
	background: pink;
}

.form {
	border-top: 1px solid #f0ebe7;
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
}

.form__msg {
	border: 0;
	font-size: 14px;
	padding: 10px;
	outline: none;
	width: 100%;
}

.form__send {
	border: 0;
	background: none;
	color: #6a96d8;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px;
	cursor: pointer;
	outline: none;
}