.body {
	margin: 0;
	background: #85a5d4;
	font-family: Roboto, sans-serif;
}

.container {
	margin: 40px auto;
	width: 60%;
	background: #fff;
	padding: 20px;
	border-radius: 3px;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
	text-align: center;
}

.item {
	padding: 10px;
	width: calc(100%/3);
}

.item:hover {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.item__img {
  width: 70px;
  margin-bottom: 20px;
}

.item__header {
	color: #5572d6;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.item__description {
	color: #bbb;
	font-weight: 400;
	font-size: 12px;
}

.item__price {
	color: #5572d6;
	font-size: 28px;
	font-weight: 500;
}